/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* Fonts: Lato and Playfair Display (from Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
  /* COLORS */
  /* primary */
  --ifm-color-primary: #0dbc3d;
  --ifm-color-primary-dark: #0ca937;
  --ifm-color-primary-darker: #0ba034;
  --ifm-color-primary-darkest: #09842b;
  --ifm-color-primary-light: #0ecf43;
  --ifm-color-primary-lighter: #0fd846;
  --ifm-color-primary-lightest: #16ef52;
  --ifm-color-primary-white: #ffffff;
  /* secondary */
  --ifm-color-secondary: #dcdcdc;
  --ifm-color-secondary-dark: #c6c6c6;
  --ifm-color-secondary-darker: #bbbbbb;
  --ifm-color-secondary-darkest: #9a9a9a;
  --ifm-color-secondary-light: #f2f2f2;
  --ifm-color-secondary-lighter: #fdfdfd;
  --ifm-color-secondary-lightest: #ffffff;
  /* success */
  --ifm-color-success: #0dbc3d;
  --ifm-color-success-dark: #0ca937;
  --ifm-color-success-darker: #0ba034;
  --ifm-color-success-darkest: #09842b;
  --ifm-color-success-light: #0ecf43;
  --ifm-color-success-lighter: #0fd846;
  --ifm-color-success-lightest: #16ef52;
  /* info */
  --ifm-color-info: #164fd6;
  --ifm-color-info-dark: #1447c1;
  --ifm-color-info-darker: #1343b6;
  --ifm-color-info-darkest: #0f3796;
  --ifm-color-info-light: #1c58e8;
  --ifm-color-info-lighter: #2760e9;
  --ifm-color-info-lightest: #4778ec;
  /* warning */
  --ifm-color-warning: #f5d328;
  --ifm-color-warning-dark: #f4cd0d;
  --ifm-color-warning-darker: #e7c30b;
  --ifm-color-warning-darkest: #bfa009;
  --ifm-color-warning-light: #f6d943;
  --ifm-color-warning-lighter: #f7db51;
  --ifm-color-warning-lightest: #f9e47a;
  /* danger */
  --ifm-color-danger: #eb0d28;
  --ifm-color-danger-dark: #d40c24;
  --ifm-color-danger-darker: #c80b22;
  --ifm-color-danger-darkest: #a4091c;
  --ifm-color-danger-light: #f31e38;
  --ifm-color-danger-lighter: #f32a42;
  --ifm-color-danger-lightest: #f54d62;

  /* FONTS */
  /* base */
  --ifm-font-family-base: 'Lato';
  /* --ifm-font-size-base: 1.1rem; */
  --ifm-line-height-base: 1.4;
  /* code */
  --ifm-code-font-size: 90%;
  /* modal */
  --ifm-modal-overlay: rgba(255, 255, 255, 0.8);

  /* sidebar width (default is 300px) */
  --doc-sidebar-width: 175px !important;
}

/* ADMONITIONS */
.admonition-tip,
.admonition-important,
.admonition-warning {
  color: white;
}

.admonition-tip .admonition-icon svg,
.admonition-important .admonition-icon svg,
.admonition-warning .admonition-icon svg {
  fill: white;
}

.admonition svg {
  margin-right: 5px;
}

/* override link unstyling within admonitions */
.alert a {
  color: var(--ifm-link-color);
  text-decoration: var(--ifm-link-decoration);
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.alert a:hover {
  color: var(--ifm-link-hover-color);
  text-decoration: var(--ifm-link-hover-decoration);
}

/* NAVBAR */
/* adjust spacing between rightmost navbar iem and dark mode toggle */
.navbar__items--right .react-toggle {
  margin-left: var(--ifm-navbar-item-padding-horizontal);
}

/* match logo size and alignment */
.navbar__title {
  font-size: calc(var(--ifm-font-size-base) * 1.7);
  margin-top: -2px;
  color: var(--ifm-color-secondary-darkest);
  font-weight: var(--ifm-font-weight-light);
}

/* CODE BLOCKS */
/* highlighted lines */
.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* turn on line wrap within code blocks */
/* .prism-code > div {
  white-space : pre-wrap;
} */

/* FOOTER */
/* copyright */
.footer__copyright {
  text-align: left;
  font-weight: var(--ifm-font-weight-light);
}

/* TOOLTIPS */
.tooltip {
  max-width: 350px !important;
  padding: 8px 14px 10px 14px !important;
  font-size: calc(var(--ifm-font-size-base) * 0.85) !important;
  margin-top: 0 !important;
}

/* add spacing between divs */
.tooltip div:not(:last-child) {
  padding-bottom: 10px;
  ;
}

.tooltip * {
  margin-bottom: 0;
}

/* accordion trigger */
.Collapsible__trigger {
  font-style: italic;
  float: right;
  margin-left: 10px;
}

.Collapsible__trigger:hover {
  cursor: pointer;
}

/* DARK MODE */
html[data-theme='dark'] {
  --ifm-blockquote-color: #a5a5a5;
  --ifm-modal-overlay: rgba(0, 0, 0, 0.7);
}

.--ifm-modal-overlay {
  background-color: var(--ifm-modal-overlay);
}

.skeleton {
  border-radius: .5rem;
  background-color: var(--ifm-color-gray-300);
  animation: pulse 2s infinite;
}

.legal-text a {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.legal-text a:hover {
  text-decoration: underline;
}

/* MUI TextField primary color customization */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--ifm-color-primary) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--ifm-color-primary) !important;
}

@keyframes pulse {
  0% {
    opacity: 1
  }

  50% {
    opacity: .40
  }

  100% {
    opacity: 1
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* For some reason, Docusaurus seems to downsize all headers within tabs, so e.g. ### shows up as if it's #### size. */
[role=tabpanel] h2,
.collapsable-section h2 {
  font-size: var(--ifm-h3-font-size);
}

[role=tabpanel] h3,
.collapsable-section h3 {
  font-size: var(--ifm-h2-font-size);
}

[role=tabpanel] h4,
.collapsable-section h4 {
  font-size: var(--ifm-h3-font-size);
}

[role=tabpanel] h5,
.collapsable-section h5 {
  font-size: var(--ifm-h4-font-size);
}

[role=tabpanel] h6,
.collapsable-section h6 {
  font-size: var(--ifm-h5-font-size);
}

/* Table header rows aren't left aligned by default (even though other rows are), so this left aligns them */
th {
  text-align: left;
}

/* Bold first table column */
td:first-child {
  font-weight: bold;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.MuiChip-root,
.MuiButton-root {
  font-family: var(--ifm-font-family-base) !important;
  font-weight: 700 !important;
}

.MuiChip-colorPrimary {
  color: var(--ifm-color-primary) !important;
  border-color: var(--ifm-color-primary) !important;
}

.MuiButton-colorPrimary {
  background-color: var(--ifm-color-primary) !important;
  color: var(--ifm-color-primary-white) !important;
  box-shadow: none !important;
  text-transform: none !important;
  border: none !important;
}

.MuiButton-colorPrimary:hover {
  background-color: var(--ifm-color-primary-darkest) !important;
}

.MuiCardContent-root {
  font-family: var(--ifm-font-family-base) !important;
  font-weight: 700 !important;
  text-align: center !important;
}

/* To make MUI use lato, TODO: Wrap the app in a MuiThemeProvider and change the font */
.MuiInputBase-root,
.MuiInputBase-root input,
.MuiTypography-root {
  font-family: var(--ifm-font-family-base) !important;
}
/** Custom CSS for Collapsable Component */

/* Needed to remove the headers margins to vertically align the collapsable arrow icon */
.collapsable-header h2,
.collapsable-header h3,
.collapsable-header h4,
.collapsable-header h5,
.collapsable-header h6 {
  margin-bottom: 0;
}

.collapsable-header {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Space between the icon and the text */

  /* Calculate the margin bottom based on Docussaurus margin for headers */
  padding-bottom: var(--ifm-heading-margin-bottom);
}

.collapsable-header svg {
  display: inline-block;
}

/* Remove bottom margin of the message from ErrorDisplay component */
.error-table p {
  margin: 0;

}
#demo-email-card {
  font-family: var(--ifm-font-family-base) !important;

}